@import "./variables.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Allow containers to wrap on smaller screens */
}

.menuContainer {
  width: 100%; /* Take full width on small screens */
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;
  @include lg {
    width: 250px; /* Set the width back for larger screens */
  }
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
}
